extends ../layout

block content
    h1.
         #{title}
    ul
        - each entry, i in entries
            li
                = entry.author
                = entry.postTitle
                = entry.postBody
                = entry.date
                = entry._id
                form(action='/entries/#{entry._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
                p 
                    a(href='/entries/#{entry._id}/edit') Edit
                p
                    a(href='/entries/#{entry._id}') Show